<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @task %>

    <%= link_to 'Edit this task', edit_task_path(@task), class: 'btn-secondary' %>
    <div class="inline-block ml-2">
      <%= link_to 'Destroy this task', task_path(@task), class: 'btn-danger', data: {
        turbo_method: :delete,
        turbo_confirm: 'Are you sure?'
      } %>
    </div>
    <%= link_to 'Back to tasks', tasks_path, class: "btn-secondary" %>
  </div>
</div>
